@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/roboto-mono-v13-latin-500.woff2') format('woff2'),
        url('../fonts/roboto-mono-v13-latin-500.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/roboto-mono-v13-latin-regular.woff2') format('woff2'),
        url('../fonts/roboto-mono-v13-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'),
        url('../fonts/roboto-v27-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/rubik-v14-latin-500.woff2') format('woff2'),
        url('../fonts/rubik-v14-latin-500.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/rubik-v14-latin-regular.woff2') format('woff2'),
        url('../fonts/rubik-v14-latin-regular.woff') format('woff');
}