
.container {
    width: 1480px;
    margin: 0 auto;
    // padding: 0 15px;
}

@media screen and (max-width:1200px) {
    .container {
        width: 1137px;
    }
}

@media screen and (max-width:640px) {
    .container {
        width: 592px;
    }
}